{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un {{ type }}</h1>
        {{ include(path, {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}


