{% extends 'base.html.twig' %}

{% block body  %}
    <div class="jumbotron text-center">
        <h1>Centrale Airline</h1>
    </div>
    <div class="container">
        <h2>Les prochains vols</h2>
        <br />
        {% for departure in departures %}
            {{ include('departure.html.twig', {departure: departure}) }}
        {% endfor %}
    </div>

{% endblock %}